<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      To confirm your account follow <%= link_to 'this link', @url %>.
    </p>
    <p>With love and affection,</p>
    <p>the language board team</p>
  </body>
</html>