<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      To choose a new password, just follow <%= link_to 'this link', @url %>.
    </p><p>
    If you did not request a new password, no action is required.
    </p>
    <p>With love and affection,</p>
    <p>the language board team</p>
  </body>
</html>