.nested-fields
  = f.text_field :name, :class=>"lang_search", data: { autocomplete_source: autocomplete_items }, placeholder: "enter language"
  = f.select :level, ["beginner","intermediate","advanced"]

  %br
  = link_to_remove_association "remove language", f