%h1
  Privacy Policy
%p
  %dt
    What information do we collect?
    %dd
      We collect information from you when you register on our site.
      %p
        When ordering or registering on our site, as appropriate, you may be asked to enter your: name, e-mail address or Age, Gender, Language preferences, skype username, msn username, facebook url. You may, however, visit our site anonymously.
      %p
        Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy..
  %hr
  %dt
    What do we use your information for?

    %dd
      Any of the information we collect from you may be used in one of the following ways:
      %p
        To personalize your experience: (your information helps us to better respond to your individual needs)
      %p
        To improve our website: (we continually strive to improve our website offerings based on the information and feedback we receive from you)
      %p
        To improve customer service: (your information helps us to more effectively respond to your customer service requests and support needs)
      %p
        To send periodic emails: The email address you provide may be used to send you information, respond to inquiries, and/or other requests or questions.
  %hr
  %dt
    How do we protect your information?
  %dd
    We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.
    %p
      We offer the use of a secure server. All supplied sensitive/credit information is transmitted via Secure Socket Layer (SSL) technology and then encrypted into our Database to be only accessed by those authorized with special access rights to our systems, and are required to?keep the information confidential.
    %p
      After a transaction, your private information (credit cards, social security numbers, financials, etc.) will not be stored on our servers.
  %hr
  %dt
    Do we use cookies?
    %p
      Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information
    %p
      We use cookies to keep track of advertisements.
  %hr
  %dt
    Do we disclose any information to outside parties?
    %dd
      %p
        We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.

  %hr
  %dt
    Third party links
    %dd
      %p
        Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.

  %hr
  %dt
    California Online Privacy Protection Act Compliance
    %dd
      %p
        Because we value your privacy we have taken the necessary precautions to be in compliance with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.
      %p
        As part of the California Online Privacy Protection Act, all users of our site may make any changes to their information at anytime by logging into their control panel and going to the 'Edit Profile' page.
  %hr
  %dt
    Childrens Online Privacy Protection Act Compliance
    %dd
      %p
        We are in compliance with the requirements of COPPA (Childrens Online Privacy Protection Act), we do not collect any information from anyone under 13 years of age. Our website, products and services are all directed to people who are at least 13 years old or older.
  %hr
  %dt
    Online Privacy Policy Only
    %dd
      %p
        This online privacy policy applies only to information collected through our website and not to information collected offline.
  %hr
  %dt
    Terms and Conditions
    %dd
      %p
        Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at www.termsnconditions.com
  %hr
  %dt
    Your Consent
    %dd
      %p
        By using our site, you consent to our online privacy policy.
  %hr
  %dt
    Changes to our Privacy Policy
    %dd
      %p
        If we decide to change our privacy policy, we will update the Privacy Policy modification date below.


  %p.center
    This policy was last modified on 13/03/2013
  %p.center
    = mail_to 'info@languageboard.com'