<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Message from <%= @sender.first_name%>!</h1>
    <p>
      <%= link_to "Log in", @url %> to Language Board to read your message!<br/>
    </p>
    <p>With love and affection,</p>
    <p>Your Language Board Team</p>
  </body>
</html>