%footer.footer
  %ul.navigation
    %li
      = link_to 'About us', '#'
    %li
      = link_to 'Privacy Policy', '#'
    %li
      = link_to 'Terms of Service', '#'
    %li
      = link_to 'Contact Us', '#'